:root {
    --primary: #747474;
    --secondary: #272727;
    --tertiary: #FF652F;
    --senary: #3cb371;
    --quaternary: #FFE400;
    --background-color: #1A1A1D;
    --primary-text-color: #8a8a8e;
    --secondary-text-color: #252525;

    --border-color: #ffffff1a;

    --match_color_1: #5286AA;
	--match_color_2: #1A5593;

    --base-status-color: #565656;
    --error-status-color: #9b3737;
    --match-status-color: #3cb371;
    --no-match-status-color: #377d9b;
    --timeout-status-color: #9b8537;



    --highlight-color: #f1f1f14d;

    --checked-border-color: #3cb371;
    --unchecked-border-color: #9b3737;

    --flag-color: #3cb371;
    
}

* {
    box-sizing: border-box;
    font-family: 'Courier', monospace;

}

html, body{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    tab-size: 4;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

::-webkit-scrollbar {
    border-radius: 8px;
    border: 2px solid var(--border-color);
}

::-webkit-scrollbar-thumb {
    background: var(--secondary);
    border-radius: 8px;
}

::placeholder {
    color : black;
}

.right-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: var(--primary);
    border: 1px solid var(--border-color);
    box-shadow: 0 0 10px 3px rgb(0 0 0 / 20%);
    border-radius: 3px;
    padding: 3px;
    max-height: 32%;
}

h2, h1 {
    margin: 0px;
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 3px;
    text-transform: uppercase;
    font-weight: 500;
    height: fit-content;
    word-wrap: break-word;
}

a {
    text-decoration: none;
    color: var(--tertiary);
}
