:root {
    --header: #282A41;
    --body-primary: #2D2F40;
    --body-secondary: #585B63;
    --body-tertiary: #656871;
    --body-quaternary: #DDDED4;
    --match_color_1: #5286AA;
	--match_color_2: #1A5593;

    --background-color: rgb(5, 10, 25);
    --border-color: rgb(255, 255, 255, 0.1);
}

* {
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

body {
    tab-size: 4;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0px;
    overflow: hidden;
}

::-webkit-scrollbar {
    background: var(--body-tertiary);
    border-radius: 8px;
    border: 1px solid var(--border-color);
}

::-webkit-scrollbar-thumb {
    background: var(--body-quaternary);
    border-radius: 8px;
}

::placeholder {
    color : var(--body-primary);
}

.right-container {
    height: 100%;
    width: 100%;
    border: 1px solid var(--border-color);
    border-radius: 1px;
    padding: 3px;
    display: grid;
    grid-auto-rows: 35px 20vh;
}
